version: "3.8"
services:
  spark-ingest:
    image: spark-ingest
    build:
      context: .
      dockerfile: Dockerfile
    command: [
      "/bin/sh",
      "-c",
      "/opt/spark/bin/spark-submit \
      --name spark-ingest \
      local:///opt/spark/spark-ingest/main.py \
      --filepath s3a://bangkok/sf-fire-calls.csv
      --output_path s3a://condesa/sf-fire-calls.json"
    ]
    #--filepath s3a://bangkok/mnm_dataset.csv
    #--filepath s3a://bangkok/blogs.json"
    env_file: .env
    environment:
      - LOG_LEVEL=WARN
    volumes:
      - ./local_config:/opt/spark/conf
